html 
    head 
        title About Us
    body
        h1 About Us 
        nav
            
            a(href='/') Home
             
            a(href='/about') About              
            
            a(href='/events') Contacts            
                 
            a(href='/dashboard') Dashboard
        p This is the about page where you can learn more about us.
        p We are dedicated to providing the best service possible.
        p Feel free to contact us for more information.
            link(rel='stylesheet', href='/stylesheets/style.css')
        
