html 
    head 
        title Dashboard 
    body 
        h1 Dashboard 
        nav
            ul 
                li 
                    a(href='/') Home
                li 
                    a(href='/about') About              
                li 
                    a(href='/events') Events            
                li 
                    a(href='/dashboard') Dashboard      
        p This is the dashboard where you can manage your account.
        p Here you can view your profile information.
        p You can also update your settings and preferences.
        p If you have any issues, please contact support for assistance.
            link(rel='stylesheet', href='/stylesheets/style.css')
