html 
    head 
        title contact 
    body 
        h1 Contacts 
        nav
           
            a(href='/') Home
                 
            a(href='/about') About              
                 
            a(href='/events') Contacts            
                 
            a(href='/dashboard') Dashboard

        p Here you can find some Contacts:-
        p 9898989192-helpline
        p 6789354678-emergency
            link(rel='stylesheet', href='/stylesheets/style.css')
