html 
    head 
        title Events 
    body 
        h1 Events 
        nav
            ul 
                li 
                    a(href='/') Home
                li 
                    a(href='/about') About              
                li 
                    a(href='/events') Events            
                li 
                    a(href='/dashboard') Dashboard

        p Here you can find information about upcoming events.
        p We organize various events throughout the year.
        p Stay tuned for more updates and announcements.
        p Feel free to contact us if you have any questions about our events.
        link(rel='stylesheet', href='/stylesheets/style.css')