html 
    head 
        title contact 
    body 
        h1 Contacts 
        nav
            ul 
                li 
                    a(href='/') Home
                li 
                    a(href='/about') About              
                li 
                    a(href='/events') Contacts            
                li 
                    a(href='/dashboard') Dashboard

        p Here you can find some Contacts:-
        p 9898989192-helpline
        p 6789354678-emergency
            link(rel='stylesheet', href='/stylesheets/style.css')
