html 
  head 
    title Home Page 
  body 
    h1 Citizen Empowerment 
    nav 
      ul 
        li 
          a(href='/') Home 
        li 
          a(href='/about') About 
        li 
          a(href='/events') Events 
        li 
          a(href='/dashboard') Dashboard
    p Welcome to Citizen Empowerment
    p This is Created by M.Nithin-23EG106A31
      link(rel='stylesheet', href='/stylesheets/style.css')
