html 
  head 
    title Home Page 
  body 
    h1 Citizen Empowerment 
    nav  
        a(href='/') Home 
        a(href='/about') About  
        a(href='/events') Contacts
        a(href='/dashboard') Dashboard
    p Welcome to Citizen Empowerment Project
    p This is Created by Nithin-23EG106A31 
      link(rel='stylesheet', href='/stylesheets/style.css')
