html 
  head 
    title Home Page 
  body 
    h1 Home page 
    nav 
      ul 
        li 
          a(href='/') Home 
        li 
          a(href='/about') About 
        li 
          a(href='/events') Events 
        li 
          a(href='/dashboard') Dashboard
    p Welcome to the home page!
    p This is the main content area.
    link(rel='stylesheet', href='/stylesheets/style.css')