html 
  head 
    title Home Page 
  body 
    h1 Citizen Empowerment to shape public services
    nav  
        a(href='/') Home 
        br
        a(href='/about') About 
        br
        a(href='/events') Contacts
        br
        a(href='/dashboard') Dashboard
        br
    p Welcome to Citizen Empowerment Project
    p This is Created by Nithin-23EG106A31 
      link(rel='stylesheet', href='/stylesheets/style.css')
